<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - swlsimNET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <script src="/js/site.min.js"></script>


</head>

<body>
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container">
                <!-- Logo container-->
                <div class="logo"><span></span></div>
                <!-- End Logo container-->
                <div class="menu-extras">
                    <ul class="nav navbar-nav navbar-right pull-right"></ul>
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

            </div>
        </div>

        <div class="navbar-custom">
            <div class="container">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="has-submenu">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="navigation-menu"><i class="md md-dashboard"></i>Dashboard</a>
                        </li>
                        <li class="has-submenu">
                            <a asp-area="" asp-controller="Home" asp-action="Import" class="navigation-menu"><i class="md md-layers"></i>Import</a> <!-- </i> -->
                        <li class="has-submenu">
                            <a asp-area="" asp-controller="Home" asp-action="Export" class="navigation-menu"><i class="md md-class"></i>Export</a>
                        <li class="has-submenu">
                            <a asp-area="" asp-controller="Home" asp-action="Spellquery" class="navigation-menu"><i class="md md-folder-special"></i>Spellquery</a>
                        <li class="has-submenu">
                            <a href="http://www.github.com/vadelius/swlsimNET/" class="navigation-menu"><i class="md md-star-rate"></i>Github</a>
                    </ul>
                    <!-- End navigation menu        -->
                </div>
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>