<div class="col-xs-12" style="height:110px;"></div>

<form novalidate
      [formGroup]="myform">


        <div class="form-group">
            <label>First Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="name">
      </div>

    <div class="form-group">
        <label>Combat Power</label>
        <input type="number"
               class="form-control"
               formControlName="combatPower">
    </div>

    <div class="form-group">
        <label>Critical Chance</label>
        <input type="number"
               class="form-control"
               formControlName="criticalChance">
    </div>

    <div class="form-group">
        <label>Primary Weapon</label>
        <select class="form-control"
                formControlName="primaryWeapon">
            <option value="">Please select a Primary Weapon</option>
            <option *ngFor="let weapon of settings.primaryWeapon"
                    [value]="weapon">{{primaryWeapon}}
            </option>
        </select>
    </div>

    <pre>{{myform.value | json}}</pre>
</form>