@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 65px;
  color: #98a6ad;
  background: #2b333b;
}
html {
  position: relative;
  min-height: 100%;
  background: #2b333b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #98a6ad;
}
h1 {
  line-height: 43px;
}
h2 {
  line-height: 35px;
}
h3 {
  line-height: 30px;
}
h4 {
  line-height: 22px;
}
h5 {
  font-size: 15px;
}
p {
  line-height: 1.6;
}
* {
  outline: none !important;
}
b,
strong {
  font-weight: 500;
}
a {
  color: #2dc4b9;
}
a:hover {
  outline: 0;
  text-decoration: none;
  color: #ffffff;
}
a:active {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
.container {
  width: 90%;
}
.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
/* Page titles */
.page-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 7px;
}
.page-title-alt {
  margin-bottom: 23px;
  margin-top: 10px;
}
.page-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-title {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin-bottom: 8px;
}
.social-links li a {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #98a6ad;
  color: #98a6ad;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
blockquote {
  border-left: 5px solid #98a6ad;
}
.blockquote-reverse,
blockquote.pull-right {
  border-right: 5px solid #98a6ad;
}
blockquote .small,
blockquote footer,
blockquote small {
  color: rgba(255, 255, 255, 0.6);
}
/* =============
   Helper clasess
============= */
.p-0 {
  padding: 0px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.m-0 {
  margin: 0px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.m-h-40 {
  min-height: 40px;
}
.m-h-50 {
  min-height: 50px;
}
.l-h-34 {
  line-height: 34px;
}
.font-normal {
  font-weight: normal;
}
.font-light {
  font-weight: 300;
}

/* =============
   Extras
============= */
/* Table type box */
.table-box {
  display: table;
  height: 100%;
  width: 100%;
}
.table-box .table-detail {
  display: table-cell;
  vertical-align: middle;
}
/* Card Box */
.card-box {
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.07);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #323b44;
}
/* Grid page */
.grid-structure .grid-container {
  background-color: rgba(244, 248, 251, 0.05);
  margin-bottom: 10px;
  padding: 10px 20px;
}

.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
}
.button-list .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}
/* =============
   Bootstrap-custom
============= */
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 0px;
}
.breadcrumb > .active {
  color: #98a6ad;
}

/* Background colors */
.bg-custom {
  background-color: #2dc4b9 !important;
}
.bg-primary {
  background-color: #5d9cec !important;
}
.bg-success {
  background-color: #81c868 !important;
}
.bg-info {
  background-color: #34d3eb !important;
}
.bg-warning {
  background-color: #ffbd4a !important;
}
.bg-danger {
  background-color: #f05050 !important;
}
.bg-muted {
  background-color: #f4f8fb !important;
}
.bg-inverse {
  background-color: #4c5667 !important;
}
.bg-purple {
  background-color: #7266ba !important;
}
.bg-pink {
  background-color: #fb6d9d !important;
}
.bg-white {
  background-color: #36404a !important;
}
.bg-lightdark {
  background-color: #f4f8fb !important;
}
/* Text colors */
.text-custom {
  color: #2dc4b9;
}
.text-white {
  color: #ffffff;
}
.text-danger {
  color: #f05050;
}
.text-muted {
  color: #98a6ad;
}
.text-primary {
  color: #5d9cec;
}
.text-warning {
  color: #ffbd4a;
}
.text-success {
  color: #81c868;
}
.text-info {
  color: #34d3eb;
}
.text-inverse {
  color: #4c5667;
}
.text-pink {
  color: #fb6d9d;
}
.text-purple {
  color: #7266ba;
}
/* Form components */
label {
  font-family: 'Roboto', sans-serif;
}
textarea.form-control {
  height: 400px;
}
.form-control {
  background-color: #36404a;
  border: 2px solid rgba(238, 238, 238, 0.1);
  border-radius: 4px;
  color: #ffffff;
  height: 36px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.form-control:focus {
  background-color: #36404a;
  border: 2px solid rgba(238, 238, 238, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #ffffff;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: rgba(255, 255, 255, 0.1);
}
input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
input.form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
input.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
input.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px;
}
.form-control-feedback {
  line-height: 36px !important;
}
.input-group-btn .btn {
  padding: 7px 12px;
}
.input-group-btn .btn-sm {
  padding: 5px 10px;
}
.input-group-btn .btn-lg {
  padding: 10px 17px;
}
.has-success .form-control {
  border-color: #81c868 !important;
  box-shadow: none !important;
}
.has-warning .form-control {
  border-color: #ffbd4a !important;
  box-shadow: none !important;
}
.has-error .form-control {
  border-color: #f05050 !important;
  box-shadow: none !important;
}
.input-group-addon {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
  color: #81c868;
}
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label {
  color: #ffbd4a;
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #f05050;
}
/* Labels */
.label {
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: .3em .6em .3em;
}
.label-default {
  background-color: #2dc4b9;
}
.label-primary {
  background-color: #5d9cec;
}
.label-success {
  background-color: #81c868;
}
.label-info {
  background-color: #34d3eb;
}
.label-warning {
  background-color: #ffbd4a;
}
.label-danger {
  background-color: #f05050;
}
.label-purple {
  background-color: #7266ba;
}
.label-pink {
  background-color: #fb6d9d;
}
.label-inverse {
  background-color: #4c5667;
}

/* Tabs-Accordions */
.tabs-vertical-env .tab-content {
  margin-bottom: 0px;
}
.table > thead > tr > td.middle-align,
.table > tbody > tr > td.middle-align,
.table > .tfood > tr > td.middle-align,
.table > thead > tr > th.middle-align,
.table > tbody > tr > th.middle-align,
.table > .tfood > tr > th.middle-align {
  vertical-align: middle;
}
