@charset 'UTF-8';

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*!
 *  Material Design Iconic Font 1.0.1 by Sergey Kupletsky (@zavoloklom) - http://zavoloklom.github.io/material-design-iconic-font/
 *  License - https://github.com/zavoloklom/material-design-iconic-font/blob/gh-pages/License.md (Attribution-ShareAlike 4.0 International license)
 */
@font-face {
  font-family: 'Material Design Iconic Font';
  src: url('../fonts/Material-Design-Iconic-Font.eot?v=1.0.1');
  src: url('../fonts/Material-Design-Iconic-Font.eot?#iefix&v=1.0.1') format('embedded-opentype'), url('../fonts/Material-Design-Iconic-Font.woff?v=1.0.1') format('woff'), url('../fonts/Material-Design-Iconic-Font.ttf?v=1.0.1') format('truetype'), url('../fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="md-"],
[class*=" md-"] {
  display: inline-block;
  font: normal normal normal 14px/1 'Material Design Iconic Font';
  font-size: inherit;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.md {
  line-height: inherit;
  vertical-align: bottom;
}
.md-lg {
  font-size: 1.5em;
  line-height: .5em;
  vertical-align: -35%;
}
.md-2x {
  font-size: 2em;
}
.md-3x {
  font-size: 3em;
}
.md-4x {
  font-size: 4em;
}
.md-5x {
  font-size: 5em;
}
.md-border {
  padding: .2em .25em .15em;
  border: solid 0.08em grey;
  border-radius: .1em;
}
.md-border-circle {
  padding: .2em .25em .15em;
  border: solid 0.08em grey;
  border-radius: 50%;
}
[class^="md-"].pull-left,
[class*=" md-"].pull-left {
  float: left;
  margin-right: .3em;
}
[class^="md-"].pull-right,
[class*=" md-"].pull-right {
  float: right;
  margin-left: .3em;
}

.md-layers:before {
    content: "\f267";
}

.md-layers-clear:before {
    content: "\f268";
}

.md-dashboard:before {
    content: "\f01f";
}

.md-class:before {
    content: "\f01d";
}

.md-folder-special:before {
    content: "\f2b0";
}

.md-star-rate:before {
    content: "\f077";
}