<div class="col-xs-12" style="height:110px;"></div>

<div>
    <h1>Import Character Stats</h1>
    <form method="post" ng-app>
        <div class="col-xs-12">
            <div class="col-xs-1">
                <label style="margin-right: 10px">Primary Weapon:</label>
                <select v-model="form.primaryWeapon" class="form-control select2">
                    <option>Hammer</option>
                </select>
                <select id="form.primaryProc" class="form-control select2">
                    <option>Pneumatic</option>
                </select>
                <select id="form.primaryAffix" class="form-control select2">
                    <option>Havoc</option>
                </select>
                <label style="margin-top: 5px">Combat Power</label>
                <input id="CombatPower" class="form-control" value="1300">
                <label>Critical Chance</label>
                <input id="form.criticalChance" class="form-control" value="31">
                <label>Critical Power</label>
                <input id="form.criticalPower" class="form-control" value="110">
                <label>Head Talisman</label>
                <select id="form.head" class="form-control select2">
                    <option>Ashes</option>
                </select>
                <label>Neck Talisman</label>
            <select id="form.neck" class="form-control select2">
            <option>Seed of Agression</option>
                </select>
            <label>Luck Talisman</label>
            <select id="form.luck" class="form-control select2">
                <option>Cold Silver Dice</option>
</select>
            </div>
            <div class="col-xs-1">
                <label style="margin-right: 10px">Secondary Weapon:</label>
                <select v-model="form.primaryWeapon" class="form-control select2">
                    <option>Fist</option>
                </select>
                <select id="form.primaryProc" class="form-control select2">
                    <option>Bladed Gauntlets</option>
                </select>
                <select id="form.primaryAffix" class="form-control select2">
                    <option>Alacrity</option>
                </select>
                <label style="margin-top: 5px">Basic Signet</label>
                <input id="form.basicSignet" class="form-control" value="102">
                <label>Power Signet</label>
                <input id="form.powerSignet" class="form-control" value="17.5">
                <label>Waist Signet</label>
                <input id="form.waistSignet" class="form-control" value="43">
                <label>Luck Signet</label>
                <input id="form.luckSignet" class="form-control" value="12" >
                <label>Elite Signet</label>
                <input id="form.eliteSignet" class="form-control" value="30">
                <label>Gadget</label>
                <select id="form.gadget" class="form-control select2">
                    <option>Vali Metabolic</option>
                </select>
            </div>
            <div class="col-xs-1" style="margin-right: 5px">
            
            </div>   
        <div class="col-xs-10">
            <label>Action Priority List</label>
            <textarea v-model="form.apl" class="form-control" rows="10"></textarea>
            <div class="col-lg-12">
                <label style="margin-top: 15px">Presets:</label>
                <button id="1" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetHammer">Hammer</button>
                <button id="2" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetBlood">Blood</button>
                <button id="3" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetBlade">Blade</button>
                <button id="4" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetChaos">Chaos</button>
                <button id="5" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetElemental">Elemental</button>
                <button id="6" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetPistols">Pistols</button>
                <button id="7" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetFist">Fist</button>
                <button id="8" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetShotgun">Shotgun</button>
                <button id="9" type="button" class="btn btn-purple waves-effect waves-light" onclick="presetRifle">Assault Rifle</button>
                
                <div align="right"><input type="submit" value="Start Simulation" class="btn btn-default waves-effect waves-light" /></div>
            </div>
        </div>

 
        </div>
        <div class="col-xs-2" style="margin-left: 10px">
            <input id="checkbox0" style="margin-top: 10px"type="checkbox" checked>
            <label for="checkbox0">Opening Shot every ~ 20 seconds.</label>
            <br>
            <input id="checkbox0" type="checkbox" checked>
            <label for="checkbox0">Exposed with 100% uptime</label>
            <br>
            <input id="checkbox0" type="checkbox">
            <label for="checkbox0">Head signet is CDR</label>
            <br/>
            <input id="checkbox0" type="checkbox" checked>
            <label for="checkbox0">Waist signet is CDR</label>
            </div>

</form>
</div>
