<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

<div class="row-fluid import-form-toolbar">
    <div class="col-xs-12">
        <div class="pull-left preset">
            <label>
                Select preset:
                <select (change)="onChange($event.target.value)">
                    <option>- No preset -</option>
                    <option>Hammer</option>
                    <option>Blood</option>
                    <option>Pistol</option>
                    <option>Elementalism</option>
                    <option>Rifle</option>
                    <option>Shotgun</option>
                    <option>Blade</option>
                    <option>Chaos</option>
                    <option>Fist</option>
                </select>
            </label>
        </div>

        <div class="pull-right">
            <button id="user1load" type="button" class="btn btn-purple waves-effect waves-light " (click)="userLoadOne()">
                User #1 Load
            </button>
            <button id="user1save" type="button" class="btn btn-purple waves-effect waves-light " (click)="userSaveOne()">
                User #1 Save
            </button>
            <button type="Submit" class="btn btn-success waves-effect waves-light" (click)="onSubmit()">Start Simulation</button>

        </div>

    </div>


</div>

<div id="main" ng-controller="importController">

    <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
        <div class="row-fluid">
            <div class="col-lg-5 col-md-5 col-xs-4 card-box">
                <div class="row">

                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Primary Weapon</label>
                        <select class="form-control " formControlName="primaryWeapon" required>
                            <option *ngFor="let weapon of primaryWeapon" value="{{weapon.name}}">{{weapon.displayName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Primary Affix</label>
                        <select class="form-control " formControlName="primaryAffix">
                            <option *ngFor="let affix of primaryAffix" value="{{affix.name}}">{{affix.displayName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Primary Proc</label>
                        <select class="form-control " formControlName="primaryProc">
                            <option *ngFor="let proc of primaryProc" value="{{proc.name}}">{{proc.displayName}} </option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Secondary Weapon</label>
                        <select class="form-control " formControlName="secondaryWeapon">
                            <option *ngFor="let weapon of secondaryWeapon" value="{{weapon.name}}">{{weapon.displayName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Secondary Affix</label>
                        <select class="form-control " formControlName="secondaryAffix">
                            <option *ngFor="let affix of secondaryAffix" value="{{affix.name}}">{{affix.displayName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Secondary Proc</label>
                        <select class="form-control " formControlName="secondaryProc">
                            <option *ngFor="let proc of secondaryProc" value="{{proc.name}}">{{proc.displayName}} </option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Head Talisman</label>
                        <select class="form-control " formControlName="head">
                            <option *ngFor="let h of head" value="{{h.name}}">{{h.displayName}} </option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Neck Talisman</label>
                        <select class="form-control " formControlName="neck">
                            <option *ngFor="let n of neck " value="{{n.name}}">{{n.displayName}} </option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Luck Talisman</label>
                        <select class="form-control " formControlName="luck">
                            <option *ngFor="let l of luck " value="{{l.name}}">{{l.displayName}} </option>
                        </select>
                    </div>

                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Combat Power</label>
                        <input type="number" class="form-control " formControlName="combatPower">
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Critical Chance</label>
                        <input type="number" class="form-control " formControlName="criticalChance">
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Critical Power</label>
                        <input type="number" class="form-control " formControlName="criticalPower">
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Basic Signet</label>
                        <input type="number" class="form-control " formControlName="basicSignet">
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Power Signet</label>
                        <input type="number" class="form-control " formControlName="powerSignet">
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Elite Signet</label>
                        <input type="number" class="form-control " formControlName="eliteSignet">
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Luck Signet</label>
                        <input type="number" class="form-control " formControlName="luckSignet">
                    </div>
                    <div class="col-md-6 col-lg-4 import-form-element">
                        <label class="overflow">Gadget</label>
                        <select class="form-control " formControlName="gadget">
                            <option *ngFor="let g of gadget" value="{{g.name}}">{{g.displayName}} </option>
                        </select>
                    </div>
                </div>
                <!-- Radio buttons -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox import-form-element">
                            <label>
                                <input id="exposed" type="checkbox" formControlName="exposed">
                                Apply Exposed
                            </label>
                        </div>
                        <div class="checkbox import-form-element">
                            <label>
                                <input id="openingShot" type="checkbox" formControlName="openingShot">
                                Opening Shot every 20s.
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox import-form-element">
                            <label>
                                <input id="headCdr" type="checkbox" formControlName="headCdr">
                                Head Signet is CDR
                            </label>
                        </div>
                        <div class="checkbox import-form-element">
                            <label>
                                <input id="waistCdr" type="checkbox" formControlName="waistCdr">
                                Waist Signet is CDR
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="firstPassive">Passives</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="import-form-element">
                            <select class="form-control " formControlName="passive1" id="firstPassive">
                                <option *ngFor="let p of passives " [value]="p">{{p}} </option>
                            </select>
                        </div>
                        <div class="import-form-element">
                            <select class="form-control " formControlName="passive2">
                                <option *ngFor="let p of passives " [value]="p">{{p}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="import-form-element">
                            <select class="form-control " formControlName="passive3">
                                <option *ngFor="let p of passives " [value]="p">{{p}} </option>
                            </select>
                        </div>
                        <div class="import-form-element">
                            <select class="form-control " formControlName="passive4">
                                <option *ngFor="let p of passives " [value]="p">{{p}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="import-form-element">
                            <select class="form-control " formControlName="passive5">
                                <option *ngFor="let p of passives " [value]="p">{{p}} </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7  col-xs-8" align="right">
                <textarea class="form-control" formControlName="apl"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="Submit" class="btn btn-success waves-effect waves-light" (click)="onSubmit()">Start Simulation</button>
            </div>
        </div>

    </form>
</div>