
@{
    ViewData["Title"] = "Spellquery";
}
<div class="col-xs-12" style="height:110px;"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-group" id="parent">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Blade" aria-expanded="false" class="collapsed">
                            Blade
                        </a>
                    </h4>
                </div>
                <div id="Blade" class="panel-collapse collapse">
                    <div class="panel-body">
                        weeb.com
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Fist" class="collapsed" aria-expanded="false">
                            Fist
                        </a>
                    </h4>
                </div>
                <div id="Fist" class="panel-collapse collapse collapse">
                    <div class="panel-body">
                        Wolverino
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Hammer" class="collapsed" aria-expanded="false">
                            Hammer
                        </a>
                    </h4>
                </div>
                <div id="Hammer" class="panel-collapse collapse">
                    <div class="panel-body">
                        FOTM here.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Blood" class="collapsed" aria-expanded="false">
                            Blood
                        </a>
                    </h4>
                </div>
                <div id="Blood" class="panel-collapse collapse">
                    <div class="panel-body">
                        Reroll please.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Chaos" class="collapsed" aria-expanded="false">
                            Chaos
                        </a>
                    </h4>
                </div>
                <div id="Chaos" class="panel-collapse collapse">
                    <div class="panel-body">
                        Shitspec here.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Elemental" class="collapsed" aria-expanded="false">
                            Elemental
                        </a>
                    </h4>
                </div>
                <div id="Elemental" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anime here.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Pistols" class="collapsed" aria-expanded="false">
                            Pistols
                        </a>
                    </h4>
                </div>
                <div id="Pistols" class="panel-collapse collapse">
                    <div class="panel-body">
                        Pistolweeb here.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Shotgun" class="collapsed" aria-expanded="false">
                            Shotgun
                        </a>
                    </h4>
                </div>
                <div id="Shotgun" class="panel-collapse collapse">
                    <div class="panel-body">
                        Shotgun 123 meme here.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#AssaultRifle" class="collapsed" aria-expanded="false">
                            Assault Rifle
                        </a>
                    </h4>
                </div>
                <div id="AssaultRifle" class="panel-collapse collapse">
                    <div class="panel-body">
                        AR Here
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#Items" class="collapsed" aria-expanded="false">
                            Items
                        </a>
                    </h4>
                </div>
                <div id="Items" class="panel-collapse collapse">
                    <div class="panel-body">
                        Item data here.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#parent" href="#WeaponProcs" class="collapsed" aria-expanded="false">
                            Weapon Procs
                        </a>
                    </h4>
                </div>
                <div id="WeaponProcs" class="panel-collapse collapse">
                    <div class="panel-body">
                        Weaponprocsdata here.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
