  <!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container">
            <!-- Logo container-->
            <div class="logo"><span></span></div>
            <!-- End Logo container-->
            <div class="menu-extras">
                <ul class="nav navbar-nav navbar-right pull-right"></ul>
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>

        </div>
    </div>

    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <ul class="navigation-menu">
                    <li class="has-submenu">
                    <a [routerLink]="['/home']" class="navigation-menu"><i class="md md-dashboard"></i>Dashboard</a>
                    <li class="has-submenu">
                    <a [routerLink]="['/import']" class="navigation-menu"><i class="md md-layers"></i>Import</a>
                    <li class="has-submenu">
                    <a [routerLink]="['/results']" class="navigation-menu"><i class="md md-layers"></i>Results</a>
                    <li class="has-submenu">
                    <a [routerLink]="['/spellquery']" class="navigation-menu"><i class="md md-folder-special"></i>Spellquery</a>
                    <li class="has-submenu">
                        <a href="http://www.github.com/vadelius/swlsimNET/" class="navigation-menu"><i class="md md-star-rate"></i>Github</a>
                </ul>
            </div>
        </div>
    </div>
</header>